*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: darkcyan;
}

form{
    justify-content: center;
    text-align: center;
    margin: 20px;
}

h1{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 100px;
}

input{
    display: flex;
    display: inline;
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
}

.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

